<header>
    <nav>
        <a href="/">Mybrary</a>
        <ul>
            <!-- href : this is the url -->
            <a href="/authors">all authors</a>
            <a href="/authors/new">new author</a>
        </ul>
    </nav>
</header>