<header>
    <nav>
        <a href="/">Mybrary</a>
        <ul>
            <!-- href : this is the url -->
            <a href="/authors">all authors</a>
            <a href="/authors/new">add author</a>
            <a href="/books">all books</a>
            <a href="/books/new">add book</a>
        </ul>
    </nav>
</header>